<section class="intro">
  <div class="container">
    <p class="lead">
        <div class="container p-4">
            <section>
  <h1>🎒 About Me</h1>
  <p>
    I am <strong>Onur</strong>, a <strong>Software Engineer</strong> (specialized in <strong>Swift Applications</strong>), full-time nomad, and a minimalist from Germany. 
    I graduated in Computer Science (bachelor's degree) in 2019 from the University of Kassel, Germany, and have been in the software engineering industry ever since by working 100% remotely. 
    I travel through the world since 2019 alongside my work and I only own what fits in my backpack. I have visited <strong>35 countries</strong> so far and got to know many cultures and regions.
  </p>
</section>

<section>
  <h2>🎸 Hobbies & Interests</h2>
  <p>
    Outside the world of tech & travel, I enjoy pushing myself to develop new skills. 
    I really enjoy playing the <em>acoustic guitar</em>, which I taught myself.
  </p>
</section>

<section>
  <h2>📚 Favorite Books</h2>
  <p>
    I also love reading books about <strong>personal development</strong> & <strong>indie development</strong>. 
    My favorite one is <a href="https://makebook.io"><em>MAKE</em></a> by <em>Pieter Levels</em>.
  </p>
</section>

<section>
  <h2>🐦 Connect with Me</h2>
  <p>
    Follow my <a href="https://mastodon.social/@onuryrk"><em>Mastodon account</em></a> where I toot about building software in public and try to live the indie hacker dream.
  </p>
</section>
        </div>
    <footer class="footer">
      <div class="container">
        <p>Copyright &copy; 2024 Onur Yorukk</p>
        <p>
          <a class="btn btn-outline-secondary btn-sm" href="legalnotice.html" role="button">Legal Notice</a>
          <a class="btn btn-outline-secondary btn-sm" href="privacypolicy.html" role="button">Privacy Policy</a>
        </p>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>feather.replace()</script>
</section>
