<section class="intro">
  <div class="container">
    <p class="lead"># About Me

[![GitHub](https://img.shields.io/badge/GitHub-%40nryrk-171515.svg)](https://github.com/nryrk)
[![Mastodon](https://img.shields.io/badge/Mastodon-%40onuryrk-%235648d3)](https://mastodon.social/@onuryrk)
[![LinkedIn](https://img.shields.io/badge/Linked-in-0e76a8.svg)](https://www.linkedin.com/in/onur-y/)

💻 I am Onur, a Software Engineer from Germany with more than 6 years of professional experience in app development.
I am currently working for a digital agency in Germany called JAKALA, which develops native iOS applications in Swift for well-known German clients. I can proudly say that I build applications in a team that have been downloaded millions of times. 
In my past projects I mainly used the MVVM architecture. However, Through side projects and courses from my bachelor's degree in computer science, I also collected experience in MVC and MVP. I prefer supporting the last two iOS versions, which allows me to use the latest Apple technologies and APIs such as Async/Await and Combine in my daily work. 
In my last project assigned by my employer I was responsible for architecting the project using MVVM+Interactor, implementing Kotlin Multiplatform library communication and managing the CI/CD implementation using Xcode Cloud.
I discovered my love for Test Driven Development when I acquired my "iOS Lead Essentials" certificate, which I received in March 2022.

🎒 I travel through the world since 2019 next to my work and I only own what fits in my backpack. I've now explored 45 countries and got to know many cultures and areas. Overcoming changes and challenges is wired in me.

🎸 Outside the world of tech & travel, I enjoy pushing myself to develop new skills. I really enjoy playing acoustic guitar, which I taught myself.

📚 I also love reading books about personal- & indie development. My favorite one is MAKE by Pieter Levels.

🐘 Follow my [Mastodon account](https://mastodon.social/@onuryrk) where I post about building software in public and try to live the indie hacker dream. </p>
  </div>
</section>
